
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: "Rubik", sans-serif;;
}


.slick-slide > div {
    margin:0 30px;
}


.button__bar {
    display: inline-block;
    vertical-align: middle;
    margin:40px auto;
    padding: 0;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 40px;
    width: 100px;
    text-align: center;
   
  }
  
  .button__bar li {
    list-style: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 3px;
    padding: 0;
  }
  
  .button__bar li button {
    border: none;
    background: #01CEC9;
    color: transparent;
    cursor: pointer;
    display: block;
    height: 15px;
    width: 15px;
    border-radius: 7.5px;
 
  }
  
  .button__bar :global(li.slick-active) button {
    background-color: #D47300;
  }
  
  .button__bar li button:hover,
  .button__bar li button:focus {
    background: #D47300;
    outline: 0;
  }
  
  .slick-slide img {
    border: 5px solid #fff;
    display: block;
    margin: auto;
  }

  .famous{
   @apply w-[185px] h-[185px] max-sm:w-[100px] max-sm:h-[100px]  max-xl:h-[160px] max-xl:w-[160px] max-lg:h-[120px] max-lg:w-[120px] rotate-45 rounded-[23px] bg-white dark:bg-[#e9e8e8]  cursor-pointer relative hover:bg-gradient-to-tl hover:from-[#D47300] hover:to-[#FFC700]
  }

  .famoustext{
    @apply  w-[130px] max-xl:text-[22px] max-lg:text-[15px]  max-sm:text-[12px] text-center text-[25px] text-[#006865] font-Yekan font-bold -rotate-45  absolute bottom-[50%] max-lg:bottom-[55%] max-lg:right-[0%]  right-[25%] 
  }

  .famousimg{
    @apply w-[65px] max-lg:w-[45px] h-[65px] max-lg:h-[45px] max-sm:h-[35px] max-sm:w-[35px]   -rotate-45  absolute bottom-[15%] left-[50%]
  }

  .productstitle{
    @apply text-[27px] font-bold  font-Yekan 
  }

  .faketext{
    @apply text-center text-[12px]   text-[#AAAAAA]  font-semibold mt-5}

    .proimg{
      @apply group-hover:scale-105 
      duration-300  w-[75px] h-[75px] rounded-full 
       absolute -top-[48px] right-[68px] transition-all
    }

    .head1{
      @apply flex items-center justify-center  gap-2 font-Yekan font-bold text-[33px] text-[#000000] max-xl:text-[30px] dark:text-white
    }

    .head2{
      @apply  w-[13px] h-[13px] rounded-full bg-[#01CEC9]
    }

    .head3{
      @apply  text-[#AAAAAA] text-[20px] text-center font-Yekan font-normal max-xl:text-[18px]
    }


  @layer base{
    @font-face {
        font-family: "Yekan";
        src: url(./assets/fonts/B_Yekan/Yekan.ttf) format("truetype"),
        url(./assets/fonts/B_Yekan/Fontyab.com.url),
        url(./assets/fonts/B_Yekan/Fontyab.ir.url),
        url(./assets/fonts/B_Yekan/read\ me!.txt),

    }
}

